- let emojiMaps = '""'
if site.data.valine
  - emojiMaps = JSON.stringify(site.data.valine)

script.
  new CaveDraw({
    ele: '#veditor',
    special: 'valine',
    openBtn: {
      style: 'background-color:#b37ba4;color:white;',
      hoverStyle: 'background-color: #49d0c0;'
    },
    canvasStyle: 'cursor:crosshair;background:whitesmoke;/*margin-bottom:5px;border-radius:0px;*/'
  })

  var valine = new Valine();
  valine.init({
    el: '#vcomment',
    appId: '#{theme.valine.appId}',
    appKey: '#{theme.valine.appKey}',
    avatar: '#{theme.valine.avatar}',
    serverURLs: '#{theme.valine.serverURLs}',
    emojiMaps: !{emojiMaps},
    path: window.location.pathname,
    visitor: #{theme.valine.visitor}
  });

